
.paragraphe{
    background-color: white;
    margin: 4rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    h1{color: blueviolet;
    text-align: center;}
    h2{color: blueviolet;
        margin-left: 2rem;}
}
.btn{
    background-color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large;
    color: white;
    height:2rem;
    border-radius: 2rem;
    margin-left: 3rem;
}
.rechercheRT{
    border-color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large;
    height:4rem;
    margin-left: 3rem;
}