
<div class="paragraphe">
    <h1>Recherche de témoignages</h1>

    <h2>Par domaine d'études</h2>

   <div>
        <h2>Par région</h2>
        <form>
            <tr>
                <td>
                    <select class="rechercheRT" id="inlineFormCustomSelect">
                        <option selected>Choissez une région</option>
                        <option value="1">Auvergne-Rhône-Alpes</option>
                        <option value="2">Bourgogne-Franche-Comté</option>
                        <option value="3">Bretagne</option>
                        <option value="4">Centre-Val de Loire</option>
                        <option value="5">Corse</option>
                        <option value="6">Grand Est</option>
                        <option value="7">Hauts-de-France</option>
                        <option value="8">Île-de-France</option>
                        <option value="9">Normandie</option>
                        <option value="10">Nouvelle-Aquitaine</option>
                        <option value="11">Occitanie</option>
                        <option value="12">Pays de la Loire</option>
                        <option value="13">Provence-Alpes-Côte d'Azur</option>
                      </select>

                </td>
                <td>
                    <button type="submit" class="btn">Rechercher</button>
             
                </td>
            </tr>
            
          </form>
   </div>

<div>
    
    <h2>Par type de témoignages</h2>
    <form>
        <tr>
            <td>
                <select class="rechercheRT" id="inlineFormCustomSelect">
                    <option selected>Choissez un type de témoignage</option>
                    <option value="1">Témoignage audio</option>
                    <option value="2">Témoignage textuel</option>
                    <option value="3">Témoignage vidéo</option>
                  </select>

            </td>
            <td>
                <button type="submit" class="btn">Rechercher</button>
         
            </td>
        </tr>
        
      </form>
</div>
</div>
  