.navbar{
    background-color: whitesmoke;
    .navbar-brand{
        color:blueviolet;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

    }
    .btn{
        background-color: blueviolet;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
        margin:auto;
    }
}