.navbar{
    background-color: whitesmoke;
    border-radius: 2rem ;
    img{ width:5rem;
        height:5rem}
    .btn{
        background-color: blueviolet;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size:large;
        color: white;
        height:4rem;
        border-radius: 2rem;
        margin-left: 3rem;
        display: grid;
        align-items: center;
    }
}