<div class="paragraphe">
    <h1>Présentation</h1>
    <p>
      Ce site permet de vulgariser les sciences et particulièrement les études d’ingénieur chez les femmes. Trouvant que trop peu de lycéennes souhaitent s’orienter vers des études d’ingénieurs, nous souhaitons donc montrer par le biais de ce site que <strong>les études d'ingénieurs</strong> ne sont pas fermées et qu’il est toujours possible par exemple de trouver une application qui correspond à chacune. 
       <br>
       <br>
       Le but est de poster <strong> des témoignages </strong> de femmes expliquant leur parcours scolaire, ainsi que leurs objectifs et le domaine d’application dans lequel elles souhaiteraient travailler ou l’aboutissement de leur formation pour celles diplômées.
       <br>
       <br>
       Enfin, nous souhaiterions établir <strong>un lien entre les lycéennes et les femmes ingénieures</strong> comme une sorte d’annuaire qui permettrait aux lycéennes de pouvoir se renseigner plus facilement.
    </p>
    <p>
       Retrouvez-nous aussi sur les réseaux : 
    <br>
    <a class="logos" href="https://www.youtube.com/channel/UCdE5_pzibVdx8F0m3GVNqpw" target="_blank">
        <img src="../../assets/Youtube.png"  title="Youtube" >
    </a> 
    <a class="logos" href="https://www.facebook.com/Et-pourquoi-pas-toi--103299471835046" target="_blank">
        <img src="../../assets/Facebook.png"  title="Facebook" >
    </a>   
    <a class="logos" href="https://www.instagram.com/etpourquoipastoi.officiel/?hl=fr" target="_blank">
        <img src="../../assets/Instagram.png"  title="Instagram" >
    </a>
    </p>
  </div>
  <div class="paragraphe">
    <h1>Notre Equipe</h1>
    <img class="equipe" src="../../assets/equipe.JPG"  title="Océane / Maïwen / Lola" >
  </div>
  