.fond{
    background-color: white;
    margin: 4rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    h1{color: blueviolet;
    text-align: center;}
    .intitule{margin: 2rem;}

}

.btn{
    background-color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large;
    color: white;
    height:4rem;
    border-radius: 2rem;
    margin: auto;
    display: grid;
    align-items: center;
}
.btn2{
    background-color: blueviolet;
    color: white;
    border-radius: 2rem;
    margin-left: 1rem;
}