<form #connexionForm="ngForm" class="fond">
    <h1>Connexion</h1>

    <div class="intitule form-row">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="utilisateur.email" class="form-control" id="email" placeholder="Email" required> <!-- Récupération de données -->
      </div>

      <div class="form-group">
        <label for="mdp">Mot de passe</label>
        <input type="password" [(ngModel)]="utilisateur.password" class="form-control" id="mdp" placeholder="Mot de passe" required> <!-- Récupération de données -->
      </div>
    </div>
    
    <button class="btn2" routerLink="/inscription" routerLinkActive="active" >Inscription au site</button> <!-- Dirige vers la page inscription -->

    <button (click)="connexion()" class="btn">Se connecter</button> <!-- Au click effectue la méthode nommée connexion -->
</form>

<router-outlet></router-outlet>