<body> 
  <app-navigation-bar></app-navigation-bar>
  
    <div class="paragraphe">
      <h1>Présentation</h1>
      <p>
        Ce site permet de vulgariser les sciences et particulièrement les études d’ingénieur chez les femmes. Trouvant que trop peu de lycéennes souhaitent s’orienter vers des études d’ingénieurs, nous souhaitons donc montrer par le biais de ce site que les études d’ingénieurs ne sont pas fermées et qu’il est toujours possible par exemple de trouver une application qui correspond à chacune. 
          Le but serait de poster des témoignages de femmes expliquant leur parcours scolaire, ainsi que leurs objectifs et le domaine d’application dans lequel elles souhaiteraient travailler ou l’aboutissement de leur formation pour celles diplômées.
          Enfin, nous souhaiterions établir un lien entre les lycéennes et les femmes ingénieures comme une sorte d’annuaire qui permettrait aux lycéennes de pouvoir se renseigner plus facilement.
      </p>
      <p>
          Vous pouvez retrouver pleins d'informations sur : 
          Youtube : Et pourquoi pas toi ? 
          Facebook (page) : Et pourquoi pas toi ? 
          Instagram : etpourquoipastoi.officiel
      </p>
    </div>
    <div class="paragraphe">
      <h1>Notre Equipe</h1>
      <p>Mettre une image</p>
    </div>
    <app-footer></app-footer>
  </body>