body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:blueviolet ;
}
.paragraphe{
  background-color: white;
  margin: 4rem;
  border-radius: 2rem;
  h1{color: blueviolet;
  text-align: center;}
  p{margin: 2rem;}
}
